<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Upload</title>
    <meta charset="utf-8">
</head>
<body>

<form method="POST" enctype="multipart/form-data" action="upload">
    File to upload: <input type="file" name="upfile"><br/><br/>
    Notes about the file: <input type="text" name="note"><br/><br/>
    <br/>
    <input type="submit" value="Press"> to upload the file!
</form>
<table>
    <tr th:each="person : ${users}"><td th:text="${person.getValue()}"></td><td  th:text="${person.getEmail()}"></td> <td  th:text="${person.getFlag()}"></td></tr>
</table>

</body>
</html>